.Category_con{
    width: 100%;
    height: 100%;
    padding: 20px 30px;
}
.input_box{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
    flex-wrap: wrap;
    gap: 5px;
    
}
.input_box .input_div{
    display: flex;
    flex-direction: column;
    width: 20%;
}
.input_box .input_div label{
    font-size: 1.6rem;
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 1.7rem;
line-height: 1.7rem;

color: #000000;
margin-bottom: 5px;
}
.input_box .input_div input{
    background: #FFFFFF;
    border: 1.5px solid #081A51;
    border-radius: 3px;
}
.input_box .input_div input::placeholder{
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 1.2rem;
line-height: 11px;
color: #8E8E8E;
}
.Client_allData{
    margin-top: 10px;
    border: 1.5px solid #081A51;
    border-radius: 8px;
    padding: 5px;
    
}
.search_box{
    margin-left: auto;
    width: fit-content;
    margin-bottom: 5px;
}
.Client_cont{
    display: block;
}
.buttonbox{
    display: flex;
    align-items: center;
    gap: 20px;
}
.icon_edit{
    font-size: 1.6rem;
    color: #081A51;
}
.icon_del{
    font-size: 1.6rem;
    color: rgb(180, 20, 20);
}
@media  (max-width: 767px) {
    .input_box .input_div{
        width: 40%;
    }
    .Client_cont{
        display: none;
    }
    .Category_con{
        padding: 30px 15px;
       
}
.input_box{

    justify-content: flex-start;

}

}
@media  (max-width: 576px) {
    .input_box .input_div{
        width: 100%;
    }
}
