.Chemical_container{
    width: 100%;
    height: 100%;
    /* padding-top: 40px; */
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.alloys_content,.table_grades{
    background: #FFFFFF;

border-radius: 8px;
position: relative;

}
.alloys_content h2{
background: var(--btn-bgColor);
border-radius: 5px;
position: absolute;
height: 35px;
width: fit-content;
padding: 0 10px;
display: flex;
align-items: center;
justify-content: center;
color: var(--white);
top: -17px;
left: 10px;
font-size: 1.6rem;
font-family: var(--font-poppins);
}
.grade_chemical{
    /* display: grid;
    grid-template-columns: 50% 50%; */
}
.grade_chemical .input_field{
border-right: 1px solid ;
padding: 7px 20px;
}
.grade_chemical .input_field label{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size:1.7rem;
    line-height: 1.7rem;
    /* identical to box height */
    margin-bottom: 4px;
    color: #252424;
    transform: rotate(-0.15deg);
}
.grade_chemical .input_field input{
    background: #FFFFFF;
border: 2px solid #1C1F37;
border-radius: 11px;
height: 40px;
padding-left: 10px;
font-size: 1.7rem;
}
.grade_chemical .input_field .input_div{
    display: flex;
    flex-direction: column;
    width: 39%;
    
}
.group_input{
    display: flex;
    align-items: center;
   
    gap: 20px;
}

.grade_input{
    margin-bottom: 15px;

    width: 60%;
}
.add_btn{
    height: 40px;
    font-size: 1.7rem;
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
background-color: var(--btn-bgColor);
border: none;
color: var(--white);
padding: 0 10px;
border-radius: var(--border-radius);
margin-top: 10px;
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
gap: 8px;
margin-left: auto;
}
.table_fields{
    padding: 20px;
}
.table_fields h5{
    font-size: 2rem;
}
.table_fields table{
    border: 1px solid;

    border-collapse: collapse;
}
.table_fields table td,.table_fields table th{
    border: 1px solid;
    padding: 10px 15px;
    font-size: 1.4rem;
    font-family: var(--font-poppins);
}
.table_grades{
    height: auto;
    position: relative;
}
.chemical_comp{
    margin-top: 10px;
    padding-bottom: 20px;
    padding: 2px 100px;
}
.chemical_comp input{
    width: 200px;
    height: 30px;
    border: 1px solid var(--btn-bgColor);
    padding-left: 30px;
    border-radius: 4px;
}
.wrraper_box{
    position: absolute;
    right: 99px;
    top: 14px;
}
.chemical_comp .main_grade{
    margin-top: 50px;
    border: 1px solid;
    border-collapse: collapse;
    width: 100%;
}
.chemical_comp .main_grade table{
    border-collapse: collapse;

}

.chemical_comp .main_grade table th,.chemical_comp .main_grade table td{
    border: 1px solid;
    font-size: 16px;
    font-family: var(--font-poppins);
    padding: 2px 10px;

}
.empty_table{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.empty_table img{
width: 150px;
height: 120px;
}
.empty_table h4{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 2rem;
line-height: 1.9rem;
text-align: center;

color: #1C1F37;
}
.main_grade{
    background: #C9CCE2;

}
.main_grade thead{
    background-color: var(--btn-bgColor);
}
.main_grade table thead{
    background-color: transparent;
   
}
.main_grade thead th{
    height: 37px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size:1.7rem;
line-height: 1.7rem;

color: #FFFFFF;
text-align: center;
}
.main_grade table thead th{
    font-size: 1.4rem;
    height:auto;
    color: black;
}
.main_grade table{
    margin: auto;
    background: #AADBF2;
    
}
.main_grade td{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 1.6rem;
line-height: 1.6rem;

color: #1C1F37;
padding:6px 10px !important;
}
.main_grade tbody tr:nth-child(odd){
    background: #ADB1D5;
}
.main_grade table  tr:nth-child(odd){
    background: #AADBF2;
}
.main_grade table td{
    font-size: 1.3rem !important;
    padding:6px 5px !important;
}
.main_grade tr td:first-child{
    padding-left: 10px;
}
.main_grade button{
    padding: 5px 10px;
    background-color: var(--btn-bgColor);
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}
.grade_td{
    padding-left: 10px !important;
}
.main_grade .button_actions{
    
display: flex;
align-self:center;
justify-content: center;
gap: 10px;
}
.search_box{
    position: relative;
}
.search_box .searchicon{
    position: absolute;
    font-size: 1.8rem;
    top: 50%;
    transform: translateY(-50%);
    left: 7px;
}
.mobile_table_c,.small_height_b{
    display: none;
}
.chemical_hed{
    background: #081A51;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px 0;
    gap: 5px;
    padding-top: 8px;
}
.chemical_hed h2{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 1.8rem;
line-height: 1.6rem;

color: #FFFFFF;

}
.chemical_hed h3{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 1.8rem;
line-height: 1.6rem;

color: #FFFFFF;
}
.input_box{
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.grade_box{
    display: flex;
    align-items: center;
    background: #D9D9D9;
    border: 1px solid #000000;
    border-radius: 14px;
    padding: 5px 8px;
    gap: 10px;
}
.grade_box input{
    background-color: #919BE7;
    color: #1C1F37;

}
.grade_box label{
    font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 1.5rem;
line-height: 1.5rem;

color: #313131;
}
.Update_btn,.Cancel_btn{
    background: #1C1F37;
border-radius: 12.1931px;color: #ffff;
padding: 10px 20px;
display: flex;
align-items: center;
justify-content: center;
font-size: 1.4rem;
}
.Cancel_btn{
    background-color: #AADBF2;
    color: #1C1F37;
}
.button_group{
    width: 100%;
    display: flex;
align-items: center;
justify-content: center;
gap: 20px;
}

@media  (max-width: 767px) {
    .small_height_b{
        position: absolute;
        right: 12px;
        top: -16px;
        border: none;
        background: #D9D9D9;
        font-size: 1.5rem;
        padding: 5px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .mobile_table_c{
        display: inline-table;
    }
    .grade_chemical{
       
  
      border-radius: 8px;
      transition: all 3s ease-in-out;

    }
    .alloys_content{
        border: none;
    }
    .alloys_content,.table_grades{
        
        
    }
    .grade_input{
        margin-bottom: 15px;
    
        width: 86%;
    }
    .input_div input{
        width: 130px;
    }
    .grade_chemical .input_field{
        padding: 30px 13px;
    }
    .grade_chemical .input_field input::placeholder{
        font-size: 1.1rem;
        color: #262a44;
        font-weight: 500;
        font-family: var(--font-poppins);
    }
    .main_grade{
        display: none;
    }
    .mobile_table_c{
        border-collapse: collapse;
        border: 1px solid;
        margin-top: 80px;
    width: 100%;
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
    }
    .mobile_table_c .td_mobile{
        border: 1px solid;
        padding: 30px 10px;
        border-right: 0;
    border-left: 0;
    border-bottom: 0;
    }
    .mobile_table_c td table{
        border-collapse: collapse;
        border: 1px solid;
    }
    .mobile_table_c td table td,  .mobile_table_c td table th{
        border: 1px solid;
        padding: 4px;
        font-size: 1.5rem;
    }
    .wrraper_box{
        position: absolute;
        right: 4px;
        top: 47px;
    }
    .chemical_comp{
        padding: 0;
    }
    .divChemical{
        border: 1px solid var( --text-green);
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: 20px 2px;
        border-radius: 6px

    }
    .divChemical h3{
        position: absolute;
    top: -12px;
    left: 8px;
    background: #fff;
    padding: 2px 5px;
    }
    .buttons_eddit{
        position: absolute;
        top: -14px;
        right: 19px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }
    .buttons_eddit span{
        font-size: 1.5rem;
        background-color: #0A194E;
        padding: 5px;
        border-radius: 5px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .buttons_eddit span .icon_edit{
        color: #D9B430;
    }
    .buttons_eddit span .icon_delete{
        color: #EE1414;
    }
}
@media  (max-width: 576px) {
    .Chemical_container{
        padding: 30px 15px;
    }
    .grade_chemical .input_field{
        border-right: 0px;
    }
    .alloys_content,.table_grades{
        
    }
    .group_input{
        display: flex;
        align-items: center;
       
        gap: 10px;
    }
    .group_input input{
        width: 113px;
    }
    .group_input input::placeholder{
       font-size: 1rem;
    }
    .grade_chemical .input_field label{
        font-size: 1.4rem;
    }
    .grade_chemical .input_field input::placeholder{
        color: transparent;
    }
    
}