@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap');
:root{
  --dark-blue:#081A51;
  --hover-blue:#1B2B65;
  --white:#ffffff;
  --black:#000000;
  --btn-bgColor:#1C1F37;
  --text-green:#30D987;
  --box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
  --border-radius:6px;
  --font-poppins: 'Poppins';
--font-roboto: 'Roboto';
--font-inter:'Inter';

}
html{
  font-size: 62.60%;

}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  overflow: hidden;
}
.container_main{
  display: grid;
  grid-template-columns: 17% auto;
  height: 100vh;
  transition: all 0.7s ease-in-out;
}
.container_main .side_bar{
  background-color: var(--dark-blue);
}
.container_main .right_side_section{
  width: 100%;
  position: relative;
  overflow: hidden;
}
.container_main .right_side_section .top_bar{
  position: absolute;
  top: 0;
  width: 100%;
  box-shadow: var(--box-shadow);
  height: 45px;
}
.page_container{
  margin-top: 45px;
  overflow-y: auto;
  height: 100%;
}
.loader{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader img{

}
.mobile_tabs{
  display: none;
}
.mobile_topbar{
  display: none;
}
.ant-modal-close{
  display: none;
}
.ant-modal-content{
  padding: 0 !important;
}
.ant-modal-footer{
  display: none;
}
.Borbox_con{
  width: 100%;
margin-top: 20px;
}
.Border_box{
  position: relative;
  border: 1px solid var(--dark-blue);
  border-radius: 8px;
  padding: 20px 20px;
}
.small_height_b{
  position: absolute;
  right: 12px;
  top: -16px;
  border: none;
  background: #D9D9D9;
  font-size: 1.5rem;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Border_box h2{
  position: absolute;
  background-color: #081A51;
  color: #30D987;
  padding: 5px 10px;
  border-radius: 5px;
  top: -17px;
  left: 10px;
  font-size: 1.9rem;
}

.Button_g{
  padding: 5px 15px;
  font-size: 1.5rem;
  border: none;
  background-color: var(--btn-bgColor);
  color: var(--white);
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 500;
  align-self: flex-end;
}
.Button_g .icon_btn{
  font-size: 1.7rem;
  font-weight: 500;
}
.editable-row .ant-form-item-explain {
  position: absolute;
  top: 100%;
  font-size: 12px;
}
.search_box .ant-select-selector{
  border: 1.5px solid #081A51 !important;
}
.ant-select-selection-placeholder{
  font-family: 'Inter'!important;
font-style: normal !important;
font-weight: 500!important;
font-size: 1.2rem!important;
line-height: 11px!important;
color: #8E8E8E!important;
display: flex;
align-items: center;
}
.shapes-5 {
  width: 40px;
  height: 40px;
  color:rgb(18, 28, 85);
  background:
    linear-gradient(currentColor 0 0),
    linear-gradient(currentColor 0 0),
    linear-gradient(currentColor 0 0),
    linear-gradient(currentColor 0 0);
  background-size: 21px 21px;
  background-repeat:no-repeat;
  animation: sh5 1.5s infinite cubic-bezier(0.3,1,0,1);
}
.ant-upload{
  border-color: #081A51 !important;
}
.logo_upload .ant-upload {
  width: 240px !important;
  border-color: #081A51 !important;
}
.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  padding: 5px 12px;
  cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
  padding: 4px 11px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}

.reporttable .ant-table-content table thead tr th,.reporttable .ant-table-content table tr td{
  padding: 0px;
}
.reporttable .ant-table-content table thead th{
  background-color: #17296B !important;
  color: #fff!important; 
  padding: 5px !important;
}
@keyframes sh5 {
 0%   {background-position: 0    0,100% 0   ,100% 100%,0 100%}
 33%  {background-position: 0    0,100% 0   ,100% 100%,0 100%;width:60px;height: 60px}
 66%  {background-position: 100% 0,100% 100%,0    100%,0 0   ;width:60px;height: 60px}
 100% {background-position: 100% 0,100% 100%,0    100%,0 0   }
}
.ant-dropdown-menu-title-content{
  white-space: nowrap !important;
  font-size: 1.7rem;
}
.ant-dropdown-menu-item:hover{
  background-color: #17296B !important;
  color: #FFFFFF !important;
}
.DownloadButton{
 display: flex;
 align-items: center;
 justify-content: center;
 height: 100vh;

}
.btnBox{
  display: flex;
  align-items: center;
  gap: 10px;

}
@media  (max-width:920px) {
  .container_main {
    grid-template-columns: 29% auto;
}
}
/* Media Query for low resolution  Tablets, Ipads */
@media  (max-width: 768px) {
  html{
    font-size: 60.50%;
  }
  .Border_box h2 {
    position: absolute;
    background-color: #081A51;
    color: #30D987;
    padding: 5px 10px;
    border-radius: 5px;
    top: -13px;
    left: 10px;
    font-size: 1.2rem;
}
  .height_set{
    height: 34px !important;
    transition: all 3s ease-in-out;
  }
  .height_set .drop_box{
    display: none;
  }
  .container_main{
    grid-template-columns: auto 0%;
  }
  .container_main .side_bar{
   display: none;
  }
  .ant-drawer-content-wrapper{
    height: 193px !important;
  }
  .ant-drawer-content{
    background:#0A194E!important;
    pointer-events: auto;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
  }
.mobile_tabs{
  position: fixed;
    bottom: 0;
    height: 63px;
    background: #FFFFFF;
    box-shadow: inset 0px 4px 8px rgb(0 0 0 / 25%);
    width: 100%;
    display: block;

}
.mobile_tabs ul{
  display: flex;
  align-items: center;
  height: 100%;
}
ul{
  padding-left: 0px !important;
  margin-bottom: 0px !important;
}
.mobile_tabs ul li{
  list-style: none;
  flex-basis: 20%;
  height: 100%;
 
}
.Borbox_con {
  width: 100%;
  padding: 2% 0%;
}
.mobile_tabs ul li a{
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 6px;
  font-size:1.3rem;
  color: #4F4848;
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
height: 100%;

}
.mobile_tabs ul li{
  border-top: 4px solid transparent;
}
.mobile_tabs ul .active{
  border-top: 4px solid var(--dark-blue);
}
.mobile_tabs ul .active>a{
  color: #081A51;
  font-weight: 600;
}
.mobile_tabs ul li a .icon_tab{
font-size: 23px;
}
.Border_box {
  padding-left: 17px;
  padding-right: 17px;
}
.page_container {
  height: 88vh;
overflow: auto;
}
.container_main .right_side_section{
  overflow: auto;
}
.grade_report{
  gap: 22px;
}

}

@media  (max-width: 576px) {
  html{

    font-size: 60.50%;
  }
  .logo_upload .ant-upload {
    width: 199px !important;
    border-color: #081A51 !important;
}
}

