.login_page{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    background-color: var(--dark-blue);
}
.login_con{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 400px;
    /* height: 50vh; */
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #fff;
    border-radius: 20px;
}
.Input_field_signup{
    width: 100%;
}
.login_btn span{
    font-size: 1.6rem;
}
.Input_field_signup label{
    font-size: 1.6rem;
}
@media  (max-width: 576px) {
    .login_con{
        width: 90%;
    }
}
.authContainer{
    width: 100%;
    height: 100vh;
    background-color: var(--dark-blue);
    display: flex;
    align-items: center;
    justify-content: center;
}
.bg_img{
    width: 100%;
    height: 100%;
}
.button_custom{
   display: inline-block;
  background-color: #ffffff;
  color: #333333;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid #dddddd;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out;
}

.button_custom:hover {
   background-color: #f1f1f1;
  border: 1px solid #cccccc;
}