.Settings_page{
    width: 100%;
    padding: 20px 30px;
}
.Settings_bredcrum{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 30px;
/* or 214% */
color: rgba(51, 51, 51, 0.5);
}
.Settings_page h3{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 30px;
/* or 125% */


color: #333333;

}
.ProfileCon{
    padding: 20px 20px;
}
.imageUplode{
     display: flex;
    align-items: center;
    gap: 20px;
}
 .profileCamera{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 .avtarBox{
     display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--dark-blue);
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 30px;
/* identical to box height, or 125% */



color: #fff;
 }
 .emailName h4{
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 30px;
/* identical to box height, or 125% */


color: #000000;

 }
  .emailName p{
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */


color: #333333;
    
 }
 .logout button{
    background: rgba(51, 51, 51, 0.05);
border-radius: 5px;
border: none;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 26px;
/* or 130% */

display: flex;
align-items: center;
text-align: center;

color: #000000;
padding: 5px 10px;
display: flex;
align-items: center;
gap: 10px;
 }
 .Editsection{
    margin-top: 30px;
 }
 .EditHeading h2{
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
/* or 150% */

display: flex;
align-items: center;

color: #000000;
 }
 .lineheading{
    height: 5px;
    width: 80px;
    background-color: var(--dark-blue);
    border-radius: 7px;
 }
 .EditBox{
    background: rgba(196, 196, 196, 0.09);
border-radius: 6px;
 }
.EditRow{
        display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5px;
    border-bottom:1px solid rgba(51, 51, 51, 0.1);
}
.inputlabel{
  flex-basis: 80%;
}
 .inputlabel label{
    
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 30px;
/* or 188% */
display: flex;
align-items: center;
color: #000000;
    flex-basis: 20%;
    text-transform: capitalize;


 }
 .inputlabel input{
    flex-basis: 50%;
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* or 188% */
color: #000000;
border: none;
background-color: #c8dcf1;
border-radius: 7px;
padding-left: 10px;
 }
  .inputlabel input:disabled{
    background-color:transparent;
  }
  .inputlabel input:focus{
    outline: none;
  }
  .Editicon{
    font-size: 18px;
    cursor: pointer;
    margin-right: 10px;
  }
  .UpdateBtn{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .CancelIcon,.Updateicon{
    font-size: 18px;
    background-color: #c7cacd;
    border-radius: 4px;
    height: 20px;
    width: 20px;
    cursor: pointer;
  }
  .Updateicon{
font-size: 16px !important;
  }

  @media (max-width: 576px) {
    .Settings_page{
      width: 100%;
      padding: 0px 10px;
  }
  .profileCamera .logout{
    display: none;
  }
  .profileCamera{
    justify-content: flex-start;
    width: 100%;
  }
  .Editicon{
    font-size: 22px;
  }
  .inputlabel{
    flex-basis: 70%;
  }
  .CancelIcon,.Updateicon{
 
    height: 30px;
    width: 27px;

  }
  .EditButton{
    align-self: flex-end;
  }
  .EditRow{
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
    margin-bottom: 8px;
   
  }
  .inputlabel label{
    padding-left: 10px;
  }
  .EditBox{
    margin-top: 15px;
  }
  .ProfileCon{
    padding: 0px 10px;
}
.EditHeading{
  position: relative;
}
.EditHeading .logout{
  position: absolute;
  right: 0px;
  top: 2px;
}
  }